<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      {{!-- Don't show the burger ever, since it is unused. --}}
      {{! 
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
      }}
    </div>
    {{!-- Don't show the burger nav ever, since it is unused. --}}
    {{! 
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
      </div>
    </div>
    }}
  </nav>
</header>
