{{#with page.navigation}}
<div class="nav-panel-search is-active" data-panel="search">
  	<div class="navbar-item stork-wrapper">
		<input data-stork="tdm" placeholder="Search book" />
		<div data-stork="tdm-output"></div>
    </div>
</div>
{{/with}}
